@font-face {
  font-family: Gudea-Bold;
  src: url('./../fonts/Gudea-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Gudea-Regular;
  src: url('./../fonts/Gudea-Regular.ttf');
  font-weight: 500;
}

* {
  font-family: Gudea-Regular;
}

section,
footer {
  padding: 10rem 0;

  .title,
  .description {
    position: relative;
  }

  .title {
    font-size: 3rem;
    font-family: Gudea-Bold;
    margin-bottom: 1.5rem;
  }

  .description {
    font-size: 1rem;
    color: #9fa3a7;
  }
}

.section-header {
  background: url('./../images/sections/1.png') right center no-repeat, url('./../images/sections/2.png') left center no-repeat;
  background-size: 35% 15rem;
  padding: 5rem 0;
  background-color: #FAFAFA;
}

#map1,
#map2 {
  height: 200px;
  margin-top: 2rem;
  border: 1px solid rgba(#9fa3a7, .5);
}

//Start Header
header {
  background-image: url('./../images/contact.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
  color: #fff;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(#fff, .2);
  }

  .header--description {
    margin-top: 3rem;

    h2 {
      font-size: 5rem;
      font-weight: 900;
      text-transform: uppercase;
      color: #0096cd;
      margin-bottom: 2rem;
    }
  }

  .btn {
    background-color: #0096cd;
    padding: 1rem 2rem;
    position: absolute;
    right: 0;
    bottom: 3rem;
    left: 0;
    margin: auto;
    border: none;

    a {
      color: #fff;
      text-transform: capitalize;
      text-decoration: none;
      font-size: .9rem;
      font-family: Gudea-Bold;
    }
  }
}

//Start Nav
nav {
  display: flex;
  justify-content: space-between;

  img {
    width: 400px;
    height: 400px;
    position: relative;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    padding: 1.5rem 0;
    height: fit-content;
    text-align: right;
    position: absolute;
    top: 2rem;
    right: 0;

    li {
      margin-right: 1.5rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      border-right: 1px solid #ddd;
      font-size: .875rem;

      &:last-of-type {
        border-right: none;
        margin-right: 0;
      }

      .fa {
        color: #00adee;
        font-size: 1rem;
        margin-right: .2rem;
      }

      .fa.fa-whatsapp {
        color: #24d366;
      }

      a {
        color: #6c6c6c;
      }

      img {
        width: 30px;
        height: 20px;
      }
    }
  }
}

//Start Who Section
.who {
  &--content {
    padding: 1rem;

    &__title {
      font-size: 3rem;
      margin-bottom: 1.5rem;
      font-family: Gudea-Bold;
      text-transform: capitalize;
    }

    &__description {
      font-size: 1rem;
      color: #9fa3a7;
      line-height: 2rem;
    }

    &__child {
      margin-top: 1rem;

      &--picture {
        width: 100%;
        height: 200px;
        border-radius: .25rem;
        margin-bottom: 1.25rem;
      }

      &--title {
        font-size: 1.5rem;
        margin-bottom: .5rem;
        font-family: Gudea-Bold;
        text-transform: capitalize;
      }

      &--description {
        font-size: .9rem;
        color: #9fa3a7;
        margin-bottom: 0;
      }
    }
  }
}

// Start Services
.services {
  background-color: #f7f8f9;

  .description {
    margin-bottom: 3rem;
  }

  &--content {
    background-color: #fff;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    margin-bottom: 2rem;

    &__picture,
    &__data--title {
      margin-bottom: 1.5rem;
    }

    &__picture {
      width: 100%;
      height: 200px;
    }

    &__data {
      padding: 1rem;

      &--title {
        font-size: 1.5rem;
        font-family: Gudea-Bold;
      }

      &--description {
        font-size: .9rem;
        color: #9fa3a7;
        line-height: 1.5rem;
      }
    }
  }
}

.how {
  background-color: #fff;

  .title {
    margin-bottom: 5rem;
  }

  .col-md-4:last-of-type &--content:before {
    display: none;
  }

  &--content {
    padding: 0 3rem;
    margin-bottom: 2rem;
    position: relative;

    &:before {
      content: '';
      width: 90%;
      height: 4px;
      background-color: #00adee;
      position: absolute;
      top: 1.8rem;
      left: 60%;
    }

    &__number,
    &__title {
      margin-bottom: 1.5rem;
      font-family: Gudea-Bold;
    }

    &__number {
      display: inline-block;
      background-color: #00adee;
      color: #fff;
      padding: .5rem 2rem;
      font-size: 2rem;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__description {
      font-size: .9rem;
      color: #9fa3a7;
    }
  }
}

// Start Contact
.contact {
  background-image: url('./../images/contact.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  color: #fff;

  &:before {
    content: '';
    background-color: rgba(#00adee, .7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .description {
    color: #fff;
    font-size: 1rem;
  }

  .contact--content {
    width: 80%;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    padding: 3rem;
    position: relative;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0 16px rgba(#000, .2);

    .form-control {
      background-color: #fafafa;
      height: 60px;
      border: 1px solid #e6e6e6;
      color: #9fa3a7;
      resize: none;

      &::placeholder,
      select {
        color: #9fa3a7;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    textarea.form-control {
      height: 300px;
    }

    .btn {
      background-color: #0096cd;
      text-transform: uppercase;
      font-family: Gudea-Bold;
      font-size: .9rem;
      padding: .7rem 3rem;
      margin-top: 2rem;
    }
  }
}

// Start Footer
.footer {
  background-image: url('./../images/contact.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  .title {
    font-size: 3rem;
    position: relative;
    margin-bottom: 5rem;

    &:after {
      content: '';
      width: 30%;
      height: .5rem;
      background-color: #00adee;
      border-radius: .5rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: -5rem;
      left: 0;
      margin: auto;
    }
  }

  &-box {
    width: 100%;
    background-color: #fff;
    padding: 3rem 5rem;
    border-radius: .5rem;
    margin: auto;
  }

  &--content {
    padding: 0 1rem;

    &__title {
      font-size: 1.5rem;
      font-family: Gudea-Bold;
      margin-bottom: 2rem;
      text-transform: capitalize;
      position: relative;

      &:before {
        content: '';
        width: 4px;
        height: 100%;
        background-color: #0096cd;
        position: absolute;
        left: -1rem;
      }
    }

    ul li {
      color: #898989;
      margin-bottom: .5rem;
      font-size: .9rem;
    }
  }
}

@media(max-width:768px) {
  header {
    .header--description {
      margin-top: 12rem;

      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    .btn {
      position: static;
    }
  }

  nav {
    h1 {
      flex: 0 0 100%;

      img {
        width: 80%;
        height: 20vh;
        margin: 0 auto;
        display: block;
      }
    }

    ul {
      width: 100%;
      top: 150px;
      flex: 0 0 100%;
      z-index: 999;

      li {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: .5rem;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .how--content:before {
    display: none;
  }

  .footer {
    &-box {
      padding: 2rem;
    }

    .title {
      font-size: 2rem;
    }
  }
}